![Flos Mariae](https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2023/03/07/16781451615938.jpg)

Some catholic pop to get into the mood: [Flos Mariae - Amén](https://www.youtube.com/watch?v=viQOBLF3AcY&themeRefresh=1)

The girls in Flos Mariae need your help. Their study sheets are incomplete and teachers told them to `google it` when they asked about verses. Help them complete their data.

[Bible API](https://github.com/omarciovsena/abibliadigital)

[Bible documentation](https://www.abibliadigital.com.br/en)

# Import the necessary libraries: pandas & requests

In [5]:
import requests
import pandas as pd

In [6]:
df = pd.read_csv("../data/bible.csv")

In [7]:
df

                   Name                  Role      Book
0                  Adam             First Man   Genesis
1                   Eve           First Woman   Genesis
2                  Noah    Builder of the Ark   Genesis
3               Abraham     Father of Nations   Genesis
4                 Sarah       Wife of Abraham   Genesis
5                 Moses  Leader of the Exodus    Exodus
6                 Aaron      Brother of Moses    Exodus
7                 David        King of Israel  1 Samuel
8               Solomon            Wisest Man  Proverbs
9                Isaiah               Prophet    Isaiah
10             Jeremiah               Prophet  Jeremiah
11     John the Baptist   Forerunner of Jesus   Matthew
12         Jesus Christ            Son of God   Matthew
13                 Mary       Mother of Jesus      Luke
14                Peter               Apostle   Matthew
15               Andrew               Apostle   Matthew
16    James the Greater               Apostle   Matthew
17  John the Evangelist               Apostle      John
18               Philip               Apostle   Matthew
19               Thomas               Apostle   Matthew
20     James the Lesser               Apostle   Matthew
21        Jude Thaddeus               Apostle   Matthew
22     Simon the Zealot               Apostle   Matthew
23          Bartholomew               Apostle   Matthew

In [8]:
#

In [ ]:
"""
Goals

- API that receives parameters
- From a given dataframe (necesitamos encontrar uno), crear una columna nueva según parámetros
- Acabar con un dataframe modificado
- Encapsulado
"""

# Save the dataframe into the data folder.

Make sure you don't get that unnamed: 0 column. Hint: https://stackoverflow.com/questions/36519086/how-to-get-rid-of-unnamed-0-column-in-a-pandas-dataframe-read-in-from-csv-fil

In [50]:
# Your code here